In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os 
%matplotlib inline

In [2]:
engine = create_engine("mysql://root:cocole10@localhost/tsc")
conn = engine.connect()

In [3]:
query1 = """
    SELECT 
        NOMBRE,YEAR(FECHA)*100+MONTH(FECHA) AS MES,SUM(MONTO) AS TOTAL
    FROM
        CUENTA a
            INNER JOIN
        PLASTICO b ON a.NUM_CUENTA = b.ID_CUENTA
            INNER JOIN
        PRODUCTO c ON a.ID_PRODUCTO = c.ID
            INNER JOIN
        TRANSACCION d ON b.PAN = d.PAN
    WHERE d.ESTATUS ='A'
    GROUP BY NOMBRE,YEAR(FECHA)*100+MONTH(FECHA)
    ORDER BY MES;
"""

In [4]:
%%time
df = pd.read_sql(con=conn,sql=query1)

CPU times: user 4 ms, sys: 8 ms, total: 12 ms
Wall time: 2min 16s

In [5]:
df = df.sort_values(['MES','NOMBRE'])

In [6]:
df[0:10]

        NOMBRE     MES        TOTAL
1   Bsc Credit  201401     73159.13
3    Bsc Debit  201401   3156149.34
2   Gld Credit  201401   2863438.06
0   Inf Credit  201401    351435.56
5   Pla Credit  201401   1390802.37
6    Prm Debit  201401  18128471.07
4   Std Credit  201401   4528780.98
7   Bsc Credit  201402     77455.17
13   Bsc Debit  201402   2816504.91
9   Gld Credit  201402   2461933.40

In [7]:
X=[]
for i in df.MES.values[[x for x in range(216) if x%7==0]]:
    X.append(list(df[df.MES==i].TOTAL)/sum(list(df[df.MES==i].TOTAL)))

In [8]:
X=pd.DataFrame(X,columns=['Bsc Credit','Bsc Debit', 'Gld Credit', 'Inf Credit', 'Pla Credit', 'Prm Debit', 'Std Credit'])
X.head()

,Bsc Credit,Bsc Debit,Gld Credit,Inf Credit,Pla Credit,Prm Debit,Std Credit
0,0.002399,0.103507,0.093907,0.011525,0.045612,0.594527,0.148522
1,0.002839,0.103220,0.090226,0.011297,0.046698,0.595804,0.149917
2,0.002612,0.104322,0.094400,0.011316,0.046714,0.592595,0.148041
3,0.002387,0.100549,0.091360,0.011044,0.046247,0.603055,0.145359
4,0.002519,0.103115,0.092615,0.011123,0.046031,0.595558,0.149040

In [9]:
TI = []
VA = []
for x in range(7):
    TI.append(list(df.MES.values[[x for x in range(216) if x%7==0]]))
for Y in list(X.columns):
    VA.append(list(X[Y]))

In [10]:
TI[0]

[201401,
 201402,
 201403,
 201404,
 201405,
 201406,
 201407,
 201408,
 201409,
 201410,
 201411,
 201412,
 201501,
 201502,
 201503,
 201504,
 201505,
 201506,
 201507,
 201508,
 201509,
 201510,
 201511,
 201512,
 201601,
 201602,
 201603,
 201604,
 201605,
 201606,
 201607]

In [11]:
VA = map(lambda x :map(lambda y: y*100,x),VA)
TI = map(lambda x : map(lambda y :str(y)[0:4]+'-'+str(y)[-2:],x),TI)

In [12]:
str(2342378)[-2:]

'78'

In [23]:
import plotly.plotly as py
import plotly.graph_objs as go

title = 'Proporcion de transacciones por producto por mes'

labels = ['Bsc Credit','Bsc Debit', 'Gld Credit', 'Inf Credit', 'Pla Credit', 'Prm Debit', 'Std Credit']

colors = ['rgb(63, 191, 63)', 'rgb(191, 63, 63)', 'rgba(49,130,189, 1)', 'rgb(148, 63, 191)',
          'rgb(56, 173, 147)' ,'rgba(189,189,189,1)', 'rgb(173, 89, 56)']

mode_size = [8, 8, 12, 8, 8, 8, 8]
             
line_size = [2, 2, 4, 2, 2, 2, 2]

x_data = TI

y_data = VA

traces = []

for i in range(0, 7):
    traces.append(go.Scatter(
        x=x_data[i],
        y=y_data[i],
        mode='lines',
        line=dict(color=colors[i], width=line_size[i]),
        connectgaps=True,
    ))

    traces.append(go.Scatter(
        x=[x_data[i][0], x_data[i][30]],
        y=[y_data[i][0], y_data[i][30]],
        mode='markers',
        marker=dict(color=colors[i], size=mode_size[i])
    ))
layout = go.Layout(
    xaxis=dict(
        showline=True,
        showgrid=False,
        showticklabels=True,
        linecolor='rgb(204, 204, 204)',
        linewidth=1,
        autotick=True,
        ticks='outside',
        tickcolor='rgb(204, 204, 204)',
        tickwidth=2,
        ticklen=5,
        tickfont=dict(
            family='Arial',
            size=11,
            color='rgb(82, 82, 82)',
        ),
    ),
    yaxis=dict(
        showgrid=False,
        zeroline=False,
        showline=False,
        showticklabels=False,
    ),
    autosize=False,
    margin=dict(
        autoexpand=False,
        l=100,
        r=20,
        t=110,
    ),
    showlegend=False,
)

annotations = []

# Adding labels
for y_trace, label, color in zip(y_data, labels, colors):
    # labeling the left_side of the plot
    annotations.append(dict(xref='paper', x=0.05, y=y_trace[0],
                                  xanchor='right', yanchor='middle',
                                  text=label + ' ' +str(y_trace[0])[0:2]+'%',
                                  font=dict(family='Arial',
                                            size=14,
                                            color=colors,),
                                  showarrow=False))
    # labeling the right_side of the plot
    annotations.append(dict(xref='paper', x=0.95, y=y_trace[30],
                                  xanchor='left', yanchor='middle',
                                  text='{}%'.format(y_trace[30]),
                                  font=dict(family='Arial',
                                            size=14,
                                            color=colors,),
                                  showarrow=False))
# Title
annotations.append(dict(xref='paper', yref='paper', x=0.0, y=1.05,
                              xanchor='left', yanchor='bottom',
                              text='Proporcion de transacciones por producto por mes',
                              font=dict(family='Arial',
                                        size=20,
                                        color='rgb(37,37,37)'),
                              showarrow=False))
layout['annotations'] = annotations

fig = go.Figure(data=traces, layout=layout)
py.iplot(fig, filename='news-source')