In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os 
%matplotlib inline

In [2]:
engine = create_engine("mysql://root:cocole10@localhost/tsc",encoding='utf8')
conn = engine.connect()

In [3]:
query = """SELECT SEXO, 2017 - YEAR(FH_NAC) as EDAD, SUM(MONTO) AS TOTAL
FROM 

    CLIENTE b 
        INNER JOIN
    CUENTA c ON c.ID_CLIENTE=b.ID
        INNER JOIN
    PLASTICO d ON d.ID_CUENTA=c.NUM_CUENTA
        INNER JOIN
    TRANSACCION e ON e.PAN=d.PAN
    WHERE ESTATUS = 'A'
    GROUP BY SEXO, NUM_CUENTA, FH_NAC;
"""

In [4]:
%%time
df = pd.read_sql(con=conn,sql=query)

CPU times: user 232 ms, sys: 12 ms, total: 244 ms
Wall time: 41.8 s

In [5]:
df.head()

  SEXO  EDAD     TOTAL
0    H    44  18090.74
1    H    45  28623.07
2    H    38  17206.06
3    H    43  16265.01
4    H    33  20284.92

In [6]:
H1 = df[ df.EDAD <= 29][df[ df.EDAD <= 29].SEXO == 'H']
H2 = df[ (df.EDAD >= 30) & (df.EDAD <= 39)][df[(df.EDAD >= 30) & (df.EDAD <= 39)].SEXO == 'H']
H3 = df[ (df.EDAD >= 40) & (df.EDAD <= 49)][df[(df.EDAD >= 40) & (df.EDAD <= 49)].SEXO == 'H']
H4 = df[ (df.EDAD >= 50) & (df.EDAD <= 59)][df[(df.EDAD >= 50) & (df.EDAD <= 59)].SEXO == 'H']
M1 = df[ df.EDAD <= 29][df[ df.EDAD <= 29].SEXO == 'M']
M2 = df[ (df.EDAD >= 30) & (df.EDAD <= 39)][df[(df.EDAD >= 30) & (df.EDAD <= 39)].SEXO == 'M']
M3 = df[ (df.EDAD >= 40) & (df.EDAD <= 49)][df[(df.EDAD >= 40) & (df.EDAD <= 49)].SEXO == 'M']
M4 = df[ (df.EDAD >= 50) & (df.EDAD <= 59)][df[(df.EDAD >= 50) & (df.EDAD <= 59)].SEXO == 'M']

In [7]:
IH = [sum(H1.TOTAL),sum(H2.TOTAL),sum(H3.TOTAL), sum(H4.TOTAL)]
IM = [sum(M1.TOTAL), sum(M2.TOTAL),sum(M3.TOTAL),sum(M4.TOTAL)]

In [8]:
y1 =[]
x1 =[]
for i in range(23,60):
    x1.append(sum((df[df.EDAD == i][df[df.EDAD == i].SEXO == 'H']).TOTAL))
    y1.append(sum((df[df.EDAD == i][df[df.EDAD == i].SEXO == 'M']).TOTAL))

In [11]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Bar(
    x=range(23,60),
    y=x1,
    name='Hombres'
)
trace2 = go.Bar(
    x=range(23,60),
    y=y1,
    name='Mujeres' 
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='stack',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')