In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql://root:cocole10@localhost/tsc",encoding='utf8')
conn = engine.connect()

In [1]:
q = """SELECT 
    FECHA, sum(MONTO) as TDIA
FROM
    TRANSACCION
WHERE ESTATUS = 'A' 
group by FECHA;
"""

In [4]:
%%time
df = pd.read_sql(con=conn,sql=q)

CPU times: user 68 ms, sys: 4 ms, total: 72 ms
Wall time: 34.1 s

In [5]:
df.head()

        FECHA        TDIA
0  2014-01-01   987291.94
1  2014-01-02  1018705.26
2  2014-01-03   976354.30
3  2014-01-04   995672.02
4  2014-01-05   964745.71

In [6]:
from datetime import date
import calendar

In [7]:
df.FECHA = map(lambda x: date(int(x[0:4]),int(x[5:7]),int(x[8:10])),df.FECHA)

In [8]:
df.head()

        FECHA        TDIA
0  2014-01-01   987291.94
1  2014-01-02  1018705.26
2  2014-01-03   976354.30
3  2014-01-04   995672.02
4  2014-01-05   964745.71

In [9]:
df.FECHA = map(lambda x : calendar.day_name[x.weekday()], df.FECHA)

In [10]:
df.head()

       FECHA        TDIA
0  Wednesday   987291.94
1   Thursday  1018705.26
2     Friday   976354.30
3   Saturday   995672.02
4     Sunday   964745.71

In [11]:
df = df.groupby(['FECHA'], sort=False).sum().reset_index()
df.head()

       FECHA          TDIA
0  Wednesday  1.290520e+08
1   Thursday  1.284487e+08
2     Friday  1.288627e+08
3   Saturday  1.291765e+08
4     Sunday  1.286705e+08

In [12]:
from __future__ import division
x = sum(df.TDIA)
for i in range(7):
    df.TDIA[i] = df.TDIA[i]/x

/home/alejandro/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
df

       FECHA      TDIA
0  Wednesday  0.143291
1   Thursday  0.142621
2     Friday  0.143081
3   Saturday  0.143429
4     Sunday  0.142868
5     Monday  0.142194
6    Tuesday  0.142515