In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os 
%matplotlib inline

In [2]:
engine = create_engine("mysql://root:cocole10@localhost/tsc")
conn = engine.connect()
query = """SELECT YEAR(FECHA) AS ANIO, MONTO 
FROM 
	SUCURSAL a 
		inner join
    CLIENTE b ON a.ID = b.ID_SUCURSAL
		INNER JOIN
	CUENTA c ON c.ID_CLIENTE=b.ID
		INNER JOIN
	PLASTICO d ON d.ID_CUENTA=c.NUM_CUENTA
		INNER JOIN
    TRANSACCION e ON e.PAN=d.PAN
		INNER JOIN
	ESTADO f ON f.ID=a.ID_ESTADO
    WHERE ESTATUS = 'A';"""

In [3]:
%%time 
df = pd.read_sql(con=conn,sql=query)

CPU times: user 4.48 s, sys: 296 ms, total: 4.77 s
Wall time: 23.1 s

In [4]:
df.head()

   ANIO    MONTO
0  2015   724.09
1  2014   392.82
2  2015  1122.99
3  2016  1289.07
4  2015  1735.47

In [7]:
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np

x0 = filter(lambda v: v==v, list(df[df.ANIO==2014].MONTO[[x for x in range(len(df.ANIO==2014)) if x%2==0]]))
x1 = filter(lambda v: v==v, list(df[df.ANIO==2015].MONTO[[x for x in range(len(df.ANIO==2015)) if x%2==0]]))
x2 = filter(lambda v: v==v, list(df[df.ANIO==2016].MONTO[[x for x in range(len(df.ANIO==2016)) if x%2==0]]))

trace0 = go.Histogram(
    x=x0
)
trace1 = go.Histogram(
    x=x1
)
trace2 = go.Histogram(
    x=x2
)

data = [trace0, trace1, trace2]
layout = go.Layout(barmode='stack')
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='stacked histogram')